.main{
    width: 1177px;
    margin:25px auto;
}
.top{
  margin-bottom: 10px;  
}

.zoomLens{
          width: 150px !important;
          height: 150px !important;
        }
.zoom{
    width: 1171px;
    height: 400px;
    margin: 20PX auto;
   .left{
        width: 600px;
       float: left;
       #gal1 img{border:1px solid #ccc; border-radius: 5px;}
       .active img{border:1px solid #333  !important;border-radius: 5px;}
       #img_0{
            width: 390px;
            height: 403px;
            border: 1px solid #C0C0C0;
            border-radius: 5px;
            margin-left:96px;
        }
       #gal1 img{
           width: 80px;
           height: 80px;
        }
       .oo{
            width: 82px;
            margin-top: -407px;
        }
   }
    .right{
        width: 571px;
        height: 368px;
        float: right;
        h1{
            font-size: 26px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .hh{
            display: block;
            width: 571px;
            height: 19px;
            border-bottom: 1px dashed #ccc;
        }
        p{
            margin-top: 17px;
            span{margin-left:20px;display: inline-block;}
            .sp{
                font-size: 20px;
                color: palevioletred;
            }
            .sp1{
                color: red;
                }
            b{
                width: 5px;
                height: 5px;
                border-radius: 6px;
                background: black;
                display: inline-block;
                margin-right: 5px;
            }
            .sp2{
                margin-left:23px;
                padding-left: 11px;
                background: url(../img/dot.png) no-repeat -2px 3px; 
                }
            .sp3{
                margin-left:23px;
                padding-left: 11px;
                background: url(../img/dot.png) no-repeat -2px 3px; 
                }
            .sp4{
                width: 30px;
                height: 24px;
                border: 1px solid;
                border-radius: 4px;
                line-height: 24px;
                text-align: center;
            }
            .out{
                 border: 1px solid #ccc;
                 height: 30px;
                 border-radius: 5px;
                 width: 96px;
                 position: relative;
                .minus,.add{
                    width: 19px;
                    height: 20px;
                    margin-top: 5px;
                }
                .minus{ 
                    display: inline-block;
                    margin-left: 10px;}
                .add{
                    position: absolute;
                    left: 55px;
                    top: 0px;
                   }
                .num{
                    width: 30px;
                    height: 28px;
                    border: none;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    text-align: center;
                }
            }
            i{
                font-style: normal;
                margin-left: 10px;
                display: inline-block;
                width: 200px;
                height: 30px;
              } 
        }
        .buy{
            width: 500px;
            height: 40px;
            margin-top: 26px;
            .q{
                display: block;
                width: 144px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                }
            .liji{
                border: 2px solid #008080;
                float: left;
                color: #008080;
                font-size: 15px;
            }
            .jia{
                float: left;
                height: 40px;
                background: #008080;
                margin-left: 50px;
                color: white;
                font-size: 15px;
            }
            img{
                float: right;
                margin-top: 2px;
                margin-left: 30px;
                }
        }
    }
}
.detail{
     width: 1177px;
     height: 500px;
     margin-top: 50px;
    .left{
        width: 844px;
//      background: green;
        border-top:1px solid #ccc;
        float: left;
        border-left:1px solid #ccc;
        span{
            height: 50px;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
        }
        .xq{
            width: 200px; 
            border-right: 1px solid #ccc;
        }
        .pj{
            width: 642px;
            border-right: 1px solid #ccc;
            margin-left: -4px;
        }
        img{
            display: block;
            width: 844px;
            }
    }
    .right{
        width: 300px;
        height: 861px;
        float: right;
        border: 1px solid #ccc;
        border-radius: 5px;
        p{
            margin-left: 119px;
            font-size: 15px;
            margin-top: 17px;
        }
        dl{
            width: 287px;
            height: 130px;
            overflow: hidden;
            margin-top: 34px;
            border-bottom: 1px dashed #ccc;
            margin-left: 6px;
            dt{
                float: left;
                width: 107px;
                height: 100px;
                img{
                    width: 100px;
                    height: 100px;
                    margin-top: -10px;
                    margin-left: 9px;
                }
            }
            dd{
                width: 180px;
                height: 200px;
                float: right;
                
                .tit{
                    width: 183px;
                    display: block;
                    margin-bottom: 50px;
                }
                .prie{
                    margin-top: -5px;
                    color: red;
                    font-size: 20px;
                    float: left;
                    }
                .num{
                    color: #ccc;
                    float: right;
                    margin-right: 10px;
                }
            }
        }
    }
}
