$w : 1188px;
.main{
    width: $w;
    margin: auto;
    .box,.s{
        width: $w;
//      height: 400px;
        overflow:hidden;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        margin-top: 28px;
        .part1{
            width: 269px;
            height: 301px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 28px;
            img{
                width:200px;
                height: 200px;
                margin-left: 34px;
                margin-top: 23px;
            }
            p{
                margin-left: 39px;
                margin-bottom: 8px;
                margin-top: 10px;
                width: 200px;
                height: 19px;
                overflow: hidden;
                }
            span{
                margin-left: 98px; 
                color: red;
                }
            }
            .like{
              width: 209px;
              height: 301px;
              border: 1px solid #ccc;  
              margin-top: 20px;
                border-radius: 5px;
              img{
                  width: 150px;
                  height: 206px;
                  margin-left: 30px;
                  margin-top: 23px;
              }
              p{
                 margin-left: 31px;
                margin-bottom: 8px;
                margin-top: 10px;
                width: 163px;
                height: 19px;
                overflow: hidden;
              }
              span{
                margin-left: 82px; 
                color: red;
                }
            }
    }
}
